@model TSALX.ViewModel.MercadoPG
@{
    ViewBag.Title = Model.Titulo;
}

<h1>Model.Titulo</h1>



<div class="row mt-4">
    <div class="col-lg-12 text-right">
        <a href="@Url.Action("novo", "Mercado")" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Novo item</a>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-12">
        <table class="table bg-white" id="TSALXTabela">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="w-75">Nome</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                @foreach ( var item in Model.ListaMercado )
                {

                    <tr>
                        <td class="w-75">@item.Nome</td>
                        <td class="text-center"><a href="@Url.Action( "editar", "Mercado", new { id = item.IDMercado } )" class="text-secondary"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a></td>
                        <td class="text-center"><a href="@Url.Action( "excluir", "Mercado", new { id = item.IDMercado } )" onclick="return confirm('Deseja excluir o item @item.Nome?');" class="text-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

@section Mercado
{
    <script type="text/javascript">
        $(document).ready(() => {
            exibirMensagem( @Model.TipoMSG, "@Model.TextoMSG");
        });
    </script>
}