@model TSALX.Models.Temporada

@{
    ViewBag.Title = "Temporada";
}

<h1>Temporada</h1>

@if( ViewBag.ErroMensagem != null )
{
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.ErroMensagem
            </div>
        </div>
    </div>
}

@if( ViewBag.Mensagem != null )
{
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.Mensagem
            </div>
        </div>
    </div>
}


@using( Html.BeginForm( "Index", "Temporada", FormMethod.Post ) )
{
    @Html.AntiForgeryToken()

    <div class="row mt-4">

        <div class="col-lg-12">
            <div class="form-group">
                @Html.DropDownList( "IDCampeonato", new SelectList( Model.ListaCampeonato, "IDCampeonato", "Nome" ), new { @class = "form-control", @onchange = "this.form.submit();" } )
            </div>
        </div>

    </div>


    <h3>Times</h3>

    <div class="row mt-4">
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Filtro por nome da equipe" id="filtro_equipe" />
        </div>
    </div>

    <div class="row mt-3" id="filtro_equipes">

        <!-- Coluna 1 -->
        <div class="col-lg-3">
            @foreach( var equipe in Model.Coluna1Equipe )
            {
                <div class="row mb-2">
                    <div class="col-lg-10">
                        <div class="form-check mb-1">
                            @Html.CheckBoxFor( x => equipe.Participa, new { @value = @equipe.IDEquipe } )
                            <span class="@(equipe.Participa? "text-dark font-weight-bold":string.Empty)">
                                @Html.DisplayFor( x => equipe.NomeEquipe )
                                @if ( equipe.Selecao )
                                {
                                    <em>(seleção nacional)</em>
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                }
                            </span>

                        </div>

                    </div>
                    <div class="col-lg-2">
                        <img src="@equipe.Bandeira" class="bandeira" alt="tsalx - Temporada" />
                    </div>
                </div>

            }
        </div>

        <!-- Coluna 2 -->
        <div class="col-lg-3">
            @foreach( var equipe in Model.Coluna2Equipe )
            {
                <div class="row mb-2">
                    <div class="col-lg-10">
                        <div class="form-check mb-1">
                            @Html.CheckBoxFor( x => equipe.Participa, new { @value = @equipe.IDEquipe } )
                            <span class="@(equipe.Participa? "text-dark font-weight-bold":string.Empty)">
                                @Html.DisplayFor( x => equipe.NomeEquipe )
                                @if ( equipe.Selecao )
                                {
                                    <em>(seleção nacional)</em>
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                }
                            </span>

                        </div>

                    </div>
                    <div class="col-lg-2">
                        <img src="@equipe.Bandeira" class="bandeira" alt="tsalx - Temporada" />
                    </div>
                </div>

            }
        </div>

        <!-- Coluna 3 -->
        <div class="col-lg-3">
            @foreach( var equipe in Model.Coluna3Equipe )
            {
                <div class="row mb-2">
                    <div class="col-lg-10">
                        <div class="form-check mb-1">
                            @Html.CheckBoxFor( x => equipe.Participa, new { @value = @equipe.IDEquipe } )
                            <span class="@(equipe.Participa? "text-dark font-weight-bold":string.Empty)">
                                @Html.DisplayFor( x => equipe.NomeEquipe )
                                @if ( equipe.Selecao )
                                {
                                    <em>(seleção nacional)</em>
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                }
                            </span>
                        </div>

                    </div>
                    <div class="col-lg-2">
                        <img src="@equipe.Bandeira" class="bandeira" alt="tsalx - Temporada" />
                    </div>
                </div>
            }
        </div>

        <!-- Coluna 4 -->
        <div class="col-lg-3">
            @foreach( var equipe in Model.Coluna4Equipe )
            {
                <div class="row mb-2">
                    <div class="col-lg-10">
                        <div class="form-check mb-1">
                            @Html.CheckBoxFor( x => equipe.Participa, new { @value = @equipe.IDEquipe } )
                            <span class="@(equipe.Participa? "text-dark font-weight-bold":string.Empty)">
                                @Html.DisplayFor( x => equipe.NomeEquipe )
                                @if ( equipe.Selecao )
                                {
                                    <em>(seleção nacional)</em>
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                }
                            </span>

                        </div>

                    </div>
                    <div class="col-lg-2">
                        <img src="@equipe.Bandeira" class="bandeira" alt="tsalx - Temporada" />
                    </div>
                </div>
            }
        </div>


    </div>

    <div class="row mt-5">
        <div class="col-lg-12 text-right">
            <button type="submit" formaction="/temporada/gravar" value="gravar" name="salvar" class="btn btn-warning">Salvar</button>
        </div>
    </div>
}

@section Filtro_Temporada
{
    <script>
        $(document).ready(function () {
            $("#filtro_equipe").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#filtro_equipes div").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}