@model IEnumerable<TSALX.Models.EquipeLista>

@{
    ViewBag.Title = "Times";
}

<h1>Times</h1>

@if( ViewBag.ErroMensagem != null )
{
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.ErroMensagem
            </div>
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-lg-12 text-right">
        <a href="@Url.Action("novo", "Equipe")" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Novo item</a>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-12">
        <table id="TimeTabela" class="table bg-white">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="w-75">Nome</th>
                    <th>&nbsp;</th>
                    <th>Região</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                @foreach( var item in Model )
                {
                <tr>
                    <td class="w-75">

                        @if ( item.Selecao )
                        {
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            @item.Nome
                            <em>(seleção nacional)</em>
                        }
                        else
                        {
                            @item.Nome
                        }
                    </td>
                    <td class="text-center"><img src="@item.Bandeira" title="@item.NomeRegiao" class="bandeira" alt="tsalx - Equipe" /></td>
                    <td>@item.NomeRegiao</td>
                    <td class="text-center"><a href="@Url.Action( "editar", "Equipe", new { id = item.IDEquipe } )" class="text-secondary"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="@Url.Action( "excluir", "Equipe", new { id = item.IDEquipe } )" onclick="return confirm('Deseja excluir o item @item.Nome?');" class="text-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
                </tr>

                }

            </tbody>
        </table>
    </div>
</div>