@model TSALX.Models.Equipe

@{
    ViewBag.Title = "Novo Time";
}

<h1>Novo Time</h1>

<div class="row">
    <div class="col-lg-12 text-right">
        <a href="@Url.Action("Index", "Equipe" )" class="text-secondary">
            <i class="fa fa-table" aria-hidden="true"></i> Listar Times
        </a>
    </div>
</div>

@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()
    <div class="row mt-2">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor( m => m.Nome )
                @Html.TextBoxFor( m => m.Nome, new { @class = "form-control", autocomplete = "on" } )
                @Html.ValidationMessageFor( m => m.Nome )
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor( m => m.IDRegiao )
                @Html.DropDownListFor( m => m.IDRegiao, new SelectList( Model.ListaRegiao, "IDRegiao", "Nome" ), "(selecione)", new { @class = "form-control" } )
                @Html.ValidationMessageFor( m => m.IDRegiao )
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="submit" class="btn btn-warning">Salvar</button>
        </div>
    </div>
}

@if( ViewBag.ErroMensagem != null )
{
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.ErroMensagem
            </div>
        </div>
    </div>
}