@model TSALX.Models.Regiao.Pagina

@{
    ViewBag.Title = "Nova Região";
}

<h1>Nova Região</h1>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("Index", "Regiao" )" class="text-secondary">
            <i class="fa fa-table" aria-hidden="true"></i> Listar Regiões
        </a>
    </div>
</div>


@using( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor( m => m.regiao.Nome )
                @Html.TextBoxFor( m => m.regiao.Nome, new { @class = "form-control", autocomplete = "off" } )
                @Html.ValidationMessageFor( m => m.regiao.Nome )
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor( m => m.regiao.Sigla )
                @Html.DropDownListFor( m => m.regiao.Country, new SelectList( Model.ListaCountry, "Sigla", "NomePais" ), "(selecione)", new { @class = "form-control", id = "listaCountry" } )
                @Html.ValidationMessageFor( m => m.regiao.Sigla )
            </div>
        </div>
        <div class="col-md-7" style="padding-top: 3.25%">
            <div class="custom-switch custom-control-inline">

                @Html.CheckBoxFor( m => m.regiao.TemSelecao, new { @class = "custom-control-input" } )
                @Html.LabelFor( m => m.regiao.TemSelecao, new { @class = "custom-control-label" } )

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-warning">Salvar</button>
        </div>
    </div>
}

@if( ViewBag.ErroMensagem != null )
{
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.ErroMensagem
            </div>
        </div>
    </div>
}
@section Regiao_Novo
{
    <script type="text/javascript" src="~/Content/script/js/regiao.js"></script>
}