@model TSALX.ViewModel.CampeonatoVM

@{
    ViewBag.Title = Model.Titulo;
}

<h1>@Model.Titulo</h1>

<div class="row">
    <div class="col-lg-12 text-right">
        <a href="@Url.Action("Index", "Campeonato" )" class="text-secondary">
            <i class="fa fa-table" aria-hidden="true"></i> Listar Campeonato
        </a>
    </div>
</div>

@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor( m => m.IDCampeonato )

    <div class="row mt-3">
        <div class="col-lg-2 text-center d-flex flex-column justify-content-center align-items-center">
            <img src="@Model.liga.Logo" class="rounded img-thumbnail" />
        </div>
        <div class="col-lg-8">
            <div class="row mb-2">
                <div class="col-lg-2 p-2 rotulo rounded-left">Região</div>
                <div class="col-lg-10 p-2 bg-white info rounded-right">
                    <img src="@Model.regiao.Bandeira" class="bandeira"/>
                    @Html.DisplayFor( m => m.regiao.Nome )
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-2 p-2 rotulo rounded-left">Temporada</div>
                <div class="col-lg-10 p-2 bg-white info rounded-right">
                    @Html.DisplayFor( m => m.temporada.Anos )
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 p-2 rotulo rounded-left">Liga</div>
                <div class="col-lg-10 p-2 bg-white info rounded-right">
                    @Html.DisplayFor( m => m.liga.Nome )
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2">&nbsp;</div>
        <div class="col-lg-7">
            <div class="custom-switch custom-control-inline">
                @Html.CheckBoxFor( m => m.Ativo, new { @class = "custom-control-input" } )
                @Html.LabelFor( m => m.Ativo, new { @class = "custom-control-label" } )
            </div>
        </div>
        <div class="col-lg-1">
            <button type="submit" class="btn btn-warning">Salvar</button>
        </div>
    </div>
}
@section Campeonato
{
    <script type="text/javascript">
        $(document).ready( () => {
            exibirMensagem(@Model.TipoMSG, "@Model.TextoMSG");
        });
    </script>
    <style type="text/css">
        .rotulo {
            background-color: #d6d6d6;
            color: #444444;
            font-weight: 600;
            border-top: 1px solid #999999;
            border-bottom: 1px solid #999999;
            border-left: 1px solid #999999;
            text-align: right;
        }
        .info {
            border-top: 1px solid #999999;
            border-bottom: 1px solid #999999;
            border-right: 1px solid #999999;
            font-weight:bold;
        }
    </style>
}


