@using System.Web.Optimization
<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - TSALX</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/bola.ico" />

    @Styles.Render( "~/Content/css" )

</head>
<body>
    <div class="container-fluid">

        <!-- Barra de menu-->
        <div class="row">
            <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">

                <!-- Logo -->
                <img src="~/Content/img/logo.png" alt="tsalx - logo" height="40" class="d-inline-block align-top">
                @Html.ActionLink( "Trade Sport ALX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand titulo" } )

                <span class="saldo">saldo: <span class="badge badge-warning">@{Html.RenderAction( "saldo", "Home" );}</span></span>

                <!-- Botão -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mnuPublicar"
                        aria-controls="mnuPublicar" aria-expanded="false" aria-label="Navegação Toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div id="mnuPublicar" class="collapse navbar-collapse justify-content-end">

                    <!-- Cadastrar -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-light" id="lnkDrop" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Cadastrar
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="lnkDrop">
                                @Html.ActionLink( "Região", "index", "Regiao", null, new { @class = "dropdown-item text-light" } )
                                @Html.ActionLink( "Times", "index", "Equipe", null, new { @class = "dropdown-item text-light" } )
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink( "Campeonato", "index", "Campeonato", null, new { @class = "dropdown-item text-light" } )
                                @Html.ActionLink( "Temporada", "index", "Temporada", null, new { @class = "dropdown-item text-light" } )
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink( "Mercado", "index", "Mercado", null, new { @class = "dropdown-item text-light" } )
                            </div>
                        </li>
                    </ul>
                    <!-- Movimentação Financeira -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle text-light" id="lnkDrop" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Mov. Financeira
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="lnkDrop">
                                @Html.ActionLink( "Depositar", "Depositar", "MovFinanceira", null, new { @class = "dropdown-item text-light" } )
                                @Html.ActionLink( "Sacar", "Sacar", "MovFinanceira", null, new { @class = "dropdown-item text-light" } )
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink( "Extrato", "Extrato", "MovFinanceira", null, new { @class = "dropdown-item text-light" } )
                                @Html.ActionLink( "Extrato por Dia", "ExtratoDia", "MovFinanceira", null, new { @class = "dropdown-item text-light" } )
                            </div>
                        </li>
                    </ul>

                    <!-- Sair -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink( "Sair", "Sair", "Home", null, new { @class = "nav-link text-light" } )
                        </li>
                    </ul>

                </div>

            </nav>
        </div>

        <!-- Corpo -->
        <div class="container pb-5">
            @RenderBody()
        </div>

        <!-- Rodape -->
        <footer class="container-fluid rodape fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Desenvolvido por &COPY; Alxware LTDA
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/6ef6a62f9a.js" type="text/javascript"></script>
        @Scripts.Render( "~/Content/script" )
        <script src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        @RenderSection( "Inicio", false )
        @RenderSection( "Filtro_Temporada", false )
        @RenderSection( "Regiao_Novo", false )

    </div>
</body>
</html>
